body {
	margin: 0px;
	width: 100%;

	background-color: rgb(117, 94, 141);
}
.container {
	width: 500px;
	display: flex;
	background-color: rgb(28, 15, 39);
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	margin: 50px auto;
	border-radius: 10px;
	color: white;
}
.head-title {
	text-align: center;
}
.box-1 {
}
.generated-password-container {
	display: flex;
	justify-content: center;
	background-color: antiquewhite;
	padding: 10px;
	border-radius: 10px;
	color: black;
}
.copy-status-toast {
	border-radius: 5px;
	margin: 10px auto;
	width: 200px;
	background-color: rgb(112, 131, 33);
	text-align: center;
}
.fa {
	cursor: pointer;
}
.password-type-container {
	background-color: rgb(61, 61, 77);
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
	border-radius: 10px;
}
.password-setting-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
#password-type-option {
	border-radius: 5px;
	background-color: rgb(61, 61, 77);
	padding: 10px;
	border: none;
	color: white;
	font-weight: bold;
}

#options:focus {
	border: none;
}
.btn {
	border-radius: 5px;
	background-color: rgb(61, 61, 77);
	padding: 10px;
	border: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
